* {
  margin: 0;
  padding: 0; }

a {
  text-decoration: none;
  color: black; }

a:hover {
  text-decoration: underline; }

.blue {
  color: blue; }

.left {
  float: left; }

.right {
  float: right; }

.red {
  color: red; }

.gb {
  background: green;color: white; }

#header {
  width: 100%;
  height: 34px;
  background: #f8f8f8;
  border-bottom: 1px solid #ccc; }

#hnav {
  margin: 0 auto;
  width: 960px;
  height: 34px;
  background: #f8f8f8;
  font-size: 12px;
  line-height: 34px; }
  #hnav span {
    float: right; }
  #hnav a {
    margin: 8px;
    color: #666666; }

#ht {
  width: 100%;
  height: 97px;
  background: white;
  border-bottom: 2px solid #4bac20; }

#htm {
  margin: 0 auto;
  width: 960px;
  height: 96px;
  background: white;
  font-size: 12px; }
  #htm span {
    display: inline-block;
    padding: 4px 10px;
    margin-top: 18px;
    margin-bottom: 4px;
    border-radius: 2px; }
  #htm span:hover {
    background: pink;
    color: white; }
  #htm input {
    height: 32px;
    width: 488px;
    border: 1px solid #4bac20;
    float: left; }
  #htm button {
    background: #4bac20;
    border: none;
    height: 34px;
    width: 74px;
    color: white;
    float: left; }

#main {
  line-height: 28px;
  color: #666666;
  font-size: 12px;
  position: relative;
  margin: 10px auto;
  width: 960px;
  height: 162px;
  background: white;
  border: 1px solid #Ccc;
  background: linear-gradient(#f2f7fb, white);
  padding-top: 20px;
  box-sizing: border-box; }
  #main img {
    vertical-align: middle; }
  #main b {
    font-size: 16px;
    margin-right: 4px; }
  #main p {
    width: 792px;
    float: right; }
    #main p span {
      float: right;
      margin-right: 20px; }

#jun {
  position: absolute;
  left: 20px;
  top: 20px;
  border: 1px solid #ccc;
  padding: 2px; }

#mainm {
  margin: 0 auto;
  width: 960px;
  height: 1230px;
  background: white; }

#ml {
  position: relative;
  font-size: 1px;
  font-weight: bold;
  float: left;
  width: 764px;
  height: 1230px;
  background: white; }

#mr {
  float: right; }
  #mr img {
    border: 1px solid #ccc; }
  #mr p {
    font-size: 12px;
    text-align: center; }

#mlt {
  height: 40px;
  line-height: 40px;
  border-bottom: 1px solid #CCC; }
  #mlt span {
    color: #666;
    margin-right: 15px;
    text-align: center;
    display: inline-block;
    width: 76px;
    height: 36px;
    background: white; }
  #mlt span:hover {
    border-bottom: 4px solid green; }

#btt {
  border-radius: 3px;
  width: 210px;
  height: 20px;
  border: 1px solid #ccc;
  position: absolute;
  top: 10px;
  right: 100px; }
  #btt input {
    width: 164px;
    height: 20px;
    border: none;
    font-size: 12px; }
  #btt button {
    vertical-align: middle;
    width: 46px;
    height: 20px;
    border: none;
    float: right;
    background: #eee; }

#mlz {
  width: 764px;
  height: 38px;
  background: #f8fff3;
  border: 1px solid #ccc;
  margin-top: 6px;
  line-height: 38px; }
  #mlz span {
    margin-right: 20px;
    margin-left: 10px; }

.mlm {
  position: relative;
  font-weight: inherit;
  color: #bbb;
  line-height: 20px;
  width: 764px;
  height: 94px;
  background: white;
  border-bottom: 1px solid #ccc;
  padding: 12px;
  box-sizing: border-box; }
  .mlm img {
    border: 1px solid;
    margin-right: 14px; }
  .mlm p {
    width: 440px; }

.mlm:hover {
  background: #faebd7; }

.mlmr {
  font-size: 20px;
  position: absolute;
  top: 0;
  right: 0;
  height: 94px;
  width: 216px;
  line-height: 94px;
  margin-right: 20px; }
  .mlmr span {
    float: left;
    color: orange; }
  .mlmr button {
    position: absolute;
    top: 30px;
    right: 0;
    border-radius: 5px;
    border: none;
    width: 86px;
    height: 30px;
    background: orange; }

.mlmm {
  border: 1px solid #ccc;
  margin-top: 20px;
  width: 764px;
  height: 100px;
  background: white; }
  .mlmm h2 {
    padding-left: 10px;
    line-height: 34px;
    font-size: 14px;
    background: #f7f7f7;
    border-bottom: 1px solid #ccc; }
  .mlmm p {
    padding-left: 15px;
    line-height: 68px;
    color: #aaa;
    font-weight: lighter; }

#mlmmp {
  padding: 0;
  line-height: 32px; }
  #mlmmp span {
    text-align: right;
    display: inline-block;
    width: 100px;
    height: 30px;
    margin-bottom: 2px;
    margin-right: 5px;
    padding-right: 5px;
    box-sizing: border-box;
    background: #ededed; }

.mlmt {
  border: 1px solid #ccc;
  width: 764px;
  height: 484px;
  background: white;
  margin-top: 10px;
  padding-left: 40px;
  box-sizing: border-box; }
  .mlmt h2 {
    margin-left: -40px;
    padding-left: 10px;
    line-height: 34px;
    font-size: 14px;
    background: #f7f7f7;
    border-bottom: 1px solid #ccc; }

#foott {
  border-top: 1px solid #CCC;
  width: 100%;
  height: 290px;
  background: #fafafa;
  color: #555; }
  #foott a {
    color: #555; }

#foot1 {
  margin: 0 auto;
  border-bottom: 1px solid #ccc;
  width: 980px;
  height: 190px;
  background: #fafafa; }
  #foot1 h2 {
    font-weight: normal; }

#foot11 {
  font-size: 12px;
  float: left;
  margin-top: 30px;
  line-height: 30px;
  position: relative;
  padding-left: 76px;
  box-sizing: border-box;
  width: 196px;
  height: 154px;
  background: #fafafa; }
  #foot11 img {
    position: absolute;
    left: 24px;
    top: 22px; }
  #foot11 a {
    display: block; }

#fgo {
  margin: 0 auto;
  margin-top: 25px;
  width: 1200px;
  height: 102px;
  background: #fafafa; }
  #fgo p {
    text-align: center;
    line-height: 25px;
    font-size: 12px; }
